.featuresList {
  max-width: 500px;
}

.paper {
  padding: 30px;
}

.title {
  font-size: 24px;
  font-weight: lighter; 
  margin-bottom: 20px;
}

.clear {
  clear: both;
}

.toggleDiv {
  max-width: 300px;
}

.listSwitch {
  padding-left: 0px!important;
}

.buttonsContainer {
  margin-top: 30px;
  float: right
}

.saveButton {
  margin-left: 5px!important;
}