.sidebar-fixed {
  position: 'fixed'
}

.logo-container {
  padding: 20px;
  margin-left: 32px;
  margin-right: 32px;
}

.logo-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: white;
  opacity: 1;
  margin-left: 12px;
}