.sidebar-fixed {
  position: 'fixed'
}

.logo-container {
  padding: 5px 15px;
}

.logo-title {
  font-family: RedHatText, Overpass, overpass, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: white;
  opacity: 1;
  margin-left: 12px;
}

.logo-img {
  height: 50px;
  margin: 10px;
}