.avatar {
  height: 35px;
  width: 350x;
  border-radius: 50px;
  margin-left: 14px;
  border: '1px solid #DFE0EB';
}
.container {
  height: 40px;
  margin-bottom: 50px;
}
.cursorPointer {
  cursor: pointer
}
.name {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.2px;
}
.separator {
  border-left: 1px solid #DFE0EB;
  margin-left: 32px;
  margin-right: 32px;
  height: 32px;
  width: 2px;
}
.title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.3px;
}
.iconStyles {
  cursor: pointer;
  margin-left: 25px;
}

@media (max-width: 768px) {
  .name {
    display: none;
  }
  .separator {
    margin-left: 12px;
    margin-right: 12px;
  }
  .title {
    margin-left: 36px;
  }
  .iconStyles {
    margin-left: 12px;
  }
}

@media (max-width: 468px) {
  .title {
    font-size: 20;
  }
}